@font-face {
    font-family: bitter;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.jimstatic.com/s/bitter/v33/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8fbfOLjOWA.ttf) format('truetype')
}

@font-face {
    font-family: bitter;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.jimstatic.com/s/bitter/v33/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8RHYOLjOWA.ttf) format('truetype')
}